{% extends "Login_Page/login_base_template.html" %}
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
  <link rel="stylesheet" href="{% static 'css/student_details.css' %}" />
  <script src="{% static 'js/preview.js' %}"
  data-students = "{{ certificates }}"></script>
  {% endblock %}

{% block title %}
    NCC (National Cadet Corps)
{% endblock %}

{% block start %}
  <div class="content">
      <!-- Admit Card Preview Section -->
      <div class="rectangular-box">
        <form class="form" method="GET" action="/search-certificate/1/">
          <input
            class="form-control mr-sm-2"
            id="search-students-box"
            type="search"
            name="cbse_no"
            placeholder="Enter Regimental No."
            aria-label="Enter Regimental No."
            required
          />
          <button class="ctm-btn" type="submit">Search</button>
        </form>
        <button class="ctm-btn" id='student-clear-filter' onclick="clearButtonClick('/Preview Certificates/1/')">Clear</button>
        <button class="ctm-btn" id="view-all-btn" onclick="window.location.href='/Preview_Certificates/1/?view_all=true';">View All</button>

      </div>
      <form class="form m-1" id="bulk-approve-form" hidden>
        {% if perms.home.can_send_admit_card_for_approval %}
          <button class="btn btn-primary m-2" type="button" onclick="bulk_action('send', '{{csrf_token}}', 'cert', {{current_page}})">Send for Approval</button>
        {% endif %}
        {% if perms.home.can_approve_certificate %}
          <button class="btn btn-success m-2" type="button" onclick="bulk_action('approve', '{{csrf_token}}', 'cert', {{current_page}})">Approve</button>
        {% endif %} 
      </form>
      <div class="table-container">
        <table class="table table-bordered table2">
          <thead>
            <tr>
              <th scope="col"><center><div>Select All</div><input class="form-check-input checkbox-main" type="checkbox" value="" id="flexCheckDefault" onchange="onMainCheckboxToggle()"></center></th>
              <th scope="col" class="center-heading">Sr.No.</th>
              <th scope="col" class="center-heading">Student ID</th>
              <th scope="col" class="center-heading">Name</th>
              <th scope="col" class="center-heading">Certificate ID</th>
              <th scope="col" class="center-heading">Unit</th>
              <th scope="col" class="center-heading">Rank</th>
              <th scope="col" class="center-heading">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for student in pending_students %}
            <tr>
              <th scope="col"><center><input class="form-check-input sub-checkbox sub-checkbox-{{forloop.counter}}" type="checkbox" value="{{ student.CBSE_No }}" name={{ student.CBSE_No }} onchange="onSubCheckboxToggle('{{forloop.counter}}', '{{student.CBSE_No}}')"></center></th>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ student.CBSE_No }}</td>
              <td>{{ student.Name }}</td>
              <td>{{ student.certificate.certificate_id }}</td>
              <td>{{ student.Unit }}</td>
              <td>{{ student.Rank }}</td>
              <td>
                <button
                  class="btn btn-info"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  {% comment %} onclick="view_student({{student}}, 'view')" {% endcomment %}
                  onclick="openModalOnClick('{{forloop.counter}}', '{{student.CBSE_No}}', 'cert', {{current_page}})"
                >
                  View
                </button> 
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">No studnets are registered .</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div
      class="modal fade modal-lg"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Certificate
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <center><img src="data:image/png;base64,{{blob_image}}" alt="Admit Card" class="admit-card-image"></center>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            {% if perms.home.can_approve_certificate %}
              <form id='admit-card-approval-form' method="post">
                {% csrf_token %}
                <button type="submit" class="btn green-btn">Approve</button>
              </form>
            {% endif %}
            {% if perms.home.can_send_admit_card_for_approval %}
              <!-- Approval Form -->
              <form id='admit-card-send-approval-form'  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Send For Approval</button>
              </form>
            {% endif %}
            {% if perms.home.can_approve_certificate %}
              <!-- Rejection Form -->
              <form id="admit-card-reject-form" method="post">
                {% csrf_token %}
                <div class="reject-bar">
                  <textarea id="rejection-reason" name="rejection_reason" placeholder="Enter reason for rejection" class="reject-textarea"></textarea>
                  <button type="submit" id="reject-btn" class="btn red-btn reject-btn" disabled>Reject</button>
                </div>
              </form>
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                  const rejectionReason = document.getElementById('rejection-reason');
                  const rejectBtn = document.getElementById('reject-btn');

                  // Enable the button if the textarea is not empty
                  rejectionReason.addEventListener('input', function() {
                    if (rejectionReason.value.trim().length > 0) {
                      rejectBtn.disabled = false;  // Enable the button
                    } else {
                      rejectBtn.disabled = true;  // Disable the button
                    }
                  });
                });
              </script>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <center>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {% if disable_prev %}disabled{% endif %}">
            <a class="page-link" href="/Preview Certificates/{{prev_page}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in page_range %}
            <li class="page-item {% if i == current_page %}active{% endif %}"><a class="page-link" href="/Preview Certificates/{{i}}/">{{i}}</a></li>
          {% endfor %}
          <li class="page-item {% if disable_next%}disabled{% endif %}">
            <a class="page-link" href="/Preview Certificates/{{next_page}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </center>
  </div>
{% endblock %}

