{% extends "Login_Page/login_base_template.html" %}
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/register_students.css' %}">
{% endblock %}

{% block title %}
    NCC (National Cadet Corps)
{% endblock %}

{% block script %}
<script>
    
  function updateLabel(input) {
      const label = document.querySelector(`label[for="${input.id}"]`);
      if (input.files.length > 0) {
          label.textContent = input.files[0].name; // Update label with file name
      } else {
          label.textContent = input.id === "inputGroupFile01" ? "Upload Excel File" : "Upload Photos Folder";
      }
  }

  function updateFolderLabel(input) {
      const label = document.querySelector(`label[for="${input.id}"]`);
      if (input.files.length > 0) {
          const fullPath = input.files[0].webkitRelativePath;
          const folderName = fullPath.split('/')[0]; // Extract folder name
          label.textContent = folderName; // Update label with folder name
      } else {
          label.textContent = "Upload Photos Folder";
      }
  }
</script>
{% endblock script %}

{% block start %}

    <div class="center-area">
            <div class="notice-3">
                <div><strong>Enter Certificate Range</strong></div>
                <form class="form" method="POST" action="/add_certificate_range/">
                    <input
                        class="input-group-text"
                        id="search-students-box"
                        type="number"
                        name="certificate_number_start"
                        placeholder="{% if request.user.clerk %}{{ request.user.clerk.certificate_no_start }}{% else %}Enter Starting Number{% endif %}"
                        aria-label="Enter Starting Number"
                        required
                    />
                    <input
                        class="input-group-text"
                        id="search-students-box"
                        type="number"
                        name="certificate_number_end"
                        placeholder="{% if request.user.clerk %}{{ request.user.clerk.certificate_no_end }}{% else %}Enter Ending Number{% endif %}"
                        aria-label="Enter Ending Number"
                        required
                    />
                    {% csrf_token %}
                    <button class="submit-btn" type="submit">Submit</button>
                </form>
            </div>
         
        <form class="register-students" method="post" enctype="multipart/form-data" action="{% url 'Register_Students' %}">
            {% csrf_token %}
            <header>Register New Students</header>
            <div class="drpdwn">
                <select class="form-select" name="certificate_type">
                    <option selected>Select Certificate </option>
                    <option value="A">A-Certificate</option>
                    <option value="B">B-Certificate</option>
                    <option value="C">C-Certificate</option>
                  </select>
                  <select class="form-select" name="wing" >
                    <option selected>Select Wing</option>
                    <option value="Army">Army</option>
                    <option value="Navy">Navy</option>
                    <option value="Air Force">Air-Force</option>
                  </select>
                </div>
            <div class="input-group">
                <div class="file-input">
                    <input type="file" class="form-control" id="inputGroupFile01" name="excel_file" onchange="updateLabel(this)">
                    <label class="input-group-text" for="inputGroupFile01" id="inputGroupFile01Label">Upload Excel File</label>
                </div>
                <div class="folder-input">
                    <input type="file" class="form-control" id="inputGroupFile02" name="photos_folder" webkitdirectory onchange="updateFolderLabel(this)">
                    <label class="input-group-text" for="inputGroupFile02" id="inputGroupFile02Label">Upload Photos Folder</label>
                </div>
            </div>
            <div class="submit-container">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
        <div class="notice">
            <div><strong>Notices</strong></div>
            <div> Excel file must be with .xls or .xlsx extension.</div>
            <div> Photos folder must have photos in the name "cbseNo.png" format.</div>
        </div>
    </div>
    <div class="notice-2">
        <div><strong>Notices</strong></div>
        <div>Please upload the excel file according to :-</div>
        <div>1. Regimental No.</div>
        <div>2. Name</div>
        <div>3. DOB</div>
        <div>4. Father's Name</div>
        <div>5. School Details</div>
        <div>6. Home Address</div>
        <div>7. Admit Card No.</div>
        <div>8. Unit</div>
        <div>9. Rank</div>
        <div>10. Fresh/Faliure</div>
        <div>11. Year of passing A/B/C Certificate</div>
        <div>12. Attendance 1st year</div>
        <div>13. Attendance 2nd year</div>
        <div>14. Attendance_3rd_year</div>
        <div>15. Camp1</div>
        <div>16. Date Camp1</div>
        <div>17. Location Camp1</div>
        <div>18. Camp2</div>
        <div>19. Date Camp2</div>
        <div>20. Location Camp2</div>
    </div>
{% endblock %}