{% extends "Login_Page/login_base_template.html" %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/student_details.css' %}" />
{% endblock %}

{% block title %}
    NCC (National Cadet Corps)
{% endblock %}
{% block start %}
      <div></div>
      <div class="rectangular-box">
        <form class="form " method="GET" action="{% url 'search_student' %}">
            <input
              class="form-control mr-sm-2"
              type="search"
              name="cbse_no"
              placeholder="Enter CBSE No."
              aria-label="Enter CBSE No."
              required/>
            <button class="ctm-btn" type="submit">Search</button>
          </form>
      </div>
      <div class="table-container">
      <table class="table table-bordered table2">
        <thead>
          <tr>
            <th scope="col">Sr.No.</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Fathers's Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">School/College</th>
            <th scope="col">Address</th>
            <th scope="col">Admit Card No.</th>
            <th scope="col">Unit</th>
            <th scope="col">Rank</th>
            <th scope="col">Fresh/Faliure</th>
            <th scope="col">Year of Passing B Certificate</th>
            <th scope="col">Attendance 1st year</th>
            <th scope="col">Attendance 2nd year</th>
            <th scope="col">Attendance 3rd year</th>
            <th scope="col">Name of Camp 1</th>
            <th scope="col">DD/MM/YYYY</th>
            <th scope="col">Location</th>
            <th scope="col">Name of Camp 2</th>
            <th scope="col">DD/MM/YYYY</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr><th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.CBSE_No }}</td>
                <td>{{ student.Name }}</td>
                <td>{{ student.Fathers_Name }}</td>
                <td>{{ student.DOB }}</td>
                <td>{{ student.School_College_Class}}</td>
                <td>{{ student.Home_Address}}</td>
                <td>{{ student.Admit_Card_No }}</td>
                <td>{{ student.Unit }}</td>
                <td>{{ student.Rank }}</td>
                <td>{{ student.Fresh_Faliure }}</td>
                <td>{{ student.Year_of_passing_B_Certificate }}</td>
                <td>{{ student.Attendance_1st_year}}</td>
                <td>{{ student.Attendance_2nd_year}}</td>
                <td>{{ student.Attendance_3rd_year}}</td>
                <td>{{ student.Name_of_camp_attended_1}}</td>
                <td>{{ student.Date_camp_1}}</td>
                <td>{{ student.Location_camp_1}}</td>
                <td>{{ student.Name_of_camp_attended_2}}</td>
                <td>{{ student.Date_camp_2}}</td>
                <td>{{ student.Location_camp_2}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No studnets are registered .</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>


      {% if student %}
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col-12 col-lg-auto mb-3" style="width: 200px">
            <!-- <div class="card p-3">
              <div class="e-navlist e-navlist--active-bg"> -->

            <!--               
            </div></div> -->
          </div>
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <form class="form" method="POST" action="{% url 'update_student' student.id %}">
                        {% csrf_token %}
                    <div class="e-profile">
                      <div class="row">
                        <div class="col-12 col-sm-auto mb-3">
                          <div class="mx-auto" style="width: 140px">
                            <div
                              class="d-flex justify-content-center align-items-center rounded"
                              style="
                                height: 140px;
                                background-color: rgb(233, 236, 239);
                              "
                            >
                            <img src="/media/student_photos/{{ student.CBSE_No }}.jpeg" alt="Student Photo" style="max-width: 170px; max-height: 170px;">
                            </div>
                          </div>
                        </div>
                        <div
                          class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
                        >
                          <div class="text-center text-sm-left mb-2 mb-sm-0">
                            <h4 class="pt-sm-2 pb-1 mb-0 ml-3 text-nowrap">
                              {{student.Name}}
                            </h4>
                            <div class="container mt-5">
                              <button
                                class="change-photo-btn"
                                onclick="document.getElementById('fileInput').click();">
                                Change Photo
                              </button>
                              <input
                                type="file"
                                id="fileInput"
                                accept="image/*"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" method="POST" action="{% url 'update_student' student.id %}">
                               {% csrf_token %}


                            <div class="row">
                              <div class="col">
                                <hr>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>CBSE No.</label>
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="CBSE_No"
                                        value="{{ student.CBSE_No }}"
                                        readonly
                                      />
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Full Name</label>
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="Name"
                                        value="{{ student.Name}}"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Father's Name</label>
                                        <input class="form-control" type="text" name="Fathers_Name" value="{{ student.Fathers_Name}}">
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>DOB</label>
                                        <input class="form-control" type="text" name="DOB" value="{{ student.DOB}}">
                                      </div>
                                    </div>
                                  </div>
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="form-group">
                                      <label>Address</label>
                                      <textarea class="form-control" rows="2" name="Home_Address">{{ student.Home_Address }}</textarea>
                                    </div>
                                  </div>
                                </div>
                                <hr>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Unit</label>
                                        <input
                                          class="form-control"
                                          type="text"
                                          name="Unit"
                                          value="{{ student.Unit}}"
                                        />
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Rank</label>
                                        <input
                                          class="form-control"
                                          type="text"
                                          name="Rank"
                                          value="{{ student.Rank}}"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Year of passsing B certificate</label>
                                          <input class="form-control" type="text" name="Year_of_passing_B_Certificate" value="{{ student.Year_of_passing_B_Certificate}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Fresh/Faliure</label>
                                          <input class="form-control" type="text" name="Fresh_Failure" value="{{ student.Fresh_Failure}}" >
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>School/College & Class in which studying</label>
                                        <textarea class="form-control" rows="2" name="School_College_Class">{{ student.School_College_Class }}</textarea>

                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>1st Year</label>
                                          <input class="form-control" type="text" name="Attendance_1st_year" value="{{ student.Attendance_1st_year}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>2nd Year</label>
                                          <input class="form-control" type="text" name="Attendance_2nd_year" value="{{ student.Attendance_2nd_year}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Total</label>
                                          <input class="form-control" type="text" name="Attendance_3rd_year" value="{{ student.Attendance_3rd_year}}">
                                        </div>
                                      </div>
                                    </div>
                                  <hr>
                                </div>
                              </div>

                            <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Name of Camp Attended</label>
                                          <input class="form-control" type="text" name="Name_of_camp_attended_1" value="{{ student.Name_of_camp_attended_1}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Date of Camp</label>
                                          <input class="form-control" type="text" name="Date_camp_1" value="{{student.Date_camp_1}}">
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>Location</label>
                                        <textarea
                                          class="form-control"
                                          rows="2"
                                          name="Location_camp_1" 
                                        >{{student.Location_camp_1}}</textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Name of Camp Attended</label>
                                          <input class="form-control" type="text" name="Name_of_camp_attended_2" value="{{ student.Name_of_camp_attended_2}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Date of Camp</label>
                                          <input class="form-control" type="text" name="Date_camp_2" value="{{student.Date_camp_2}}">
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>Location</label>
                                        <textarea
                                          class="form-control"
                                          rows="2"
                                          name="Location_camp_2" 
                                        >{{student.Location_camp_2}}</textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>

                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">
                                  Save Changes
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-3 mb-3">
                <!-- <div class="card mb-3">
                  <div class="card-body">
                    <div class="px-xl-3">
                      <button class="btn btn-block btn-secondary">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                      </button>
                    </div>
                  </div> -->
              </div>
              <!-- <div class="card">
                  <div class="card-body">
                    <h6 class="card-title font-weight-bold">Support</h6>
                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                    <button type="button" class="btn btn-primary">Contact Us</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      {% endif %}
{% endblock %}
