{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/CBSE.css' %}" />
    <title>NCC (National Cadet Corps)</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-logo">
          <img src="{% static 'images/logo4.png' %}" alt="" />
        </div>
        <div class="nav-menu" id="navMenu">
          <ul class="ul1">
            <li><a href="/clerk/" class="link">Home</a></li>
            <li>
              <a href="/Register Students/" class="link">Register Students</a>
            </li>
            <li class="nav2">
              <a class="link" href="#">Admit Cards</a>
              <div class="dropdown">
                <ul class="ul2">
                  <li>
                    <a class="dropdown-i" href="/Preview Admit Card/"
                      >Preview Admit Cards</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-i" href="/Print Admit Cards/"
                      >Print Admit Cards</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-i" href="/Rejected Admit Cards/"
                      >Rejected Admit Cards</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="/Student Details/" class="link active"
                >Student Details</a
              >
            </li>
            <!-- <li><a href="/Create Admit Card/" class="link">Create Admit Cards</a></li>
                <li><a href="/Print Admit Cards/" class="link">Print Admit Cards</a></li>
                <li><a href="/Rejected Admit Cards/" class="link">Rejected Admit Cards</a></li> -->
          </ul>
        </div>
        <div class="nav-button">
          <button
            class="btn white-btn"
            id="loginBtn"
            onclick="window.location.href='/SignIn/'"
          >
            Logout
          </button>
        </div>
        <div class="nav-menu-btn">
          <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
      </nav>
      <div></div>
      <div class="rectangular-box">
        <form class="form-inline" method="GET" action="{% url 'search_student' %}">
            <input
              class="form-control mr-sm-2"
              type="search"
              name="cbse_no"
              placeholder="Enter CBSE No."
              aria-label="Enter CBSE No."
              required
            />
            <button class="ctm-btn" type="submit">Search</button>
          </form>
      </div>
      {% if student %}
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col-12 col-lg-auto mb-3" style="width: 200px">
            <!-- <div class="card p-3">
              <div class="e-navlist e-navlist--active-bg"> -->

            <!--               
            </div></div> -->
          </div>
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <form class="form" method="POST" action="{% url 'update_student' student.id %}">
                        {% csrf_token %}
                    <div class="e-profile">
                      <div class="row">
                        <div class="col-12 col-sm-auto mb-3">
                          <div class="mx-auto" style="width: 140px">
                            <div
                              class="d-flex justify-content-center align-items-center rounded"
                              style="
                                height: 140px;
                                background-color: rgb(233, 236, 239);
                              "
                            >
                            <img src="/media/student_photos/{{ student.CBSE_No }}.jpeg" alt="Student Photo" style="max-width: 170px; max-height: 170px;">
                            </div>
                          </div>
                        </div>
                        <div
                          class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
                        >
                          <div class="text-center text-sm-left mb-2 mb-sm-0">
                            <h4 class="pt-sm-2 pb-1 mb-0 ml-3 text-nowrap">
                              {{student.Name}}
                            </h4>
                            <div class="container mt-5">
                              <button
                                class="change-photo-btn"
                                onclick="document.getElementById('fileInput').click();">
                                Change Photo
                              </button>
                              <input
                                type="file"
                                id="fileInput"
                                accept="image/*"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" method="POST" action="{% url 'update_student' student.id %}">
                               {% csrf_token %}


                            <div class="row">
                              <div class="col">
                                <hr>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>CBSE No.</label>
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="CBSE_No"
                                        value="{{ student.CBSE_No }}"
                                        readonly
                                      />
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Full Name</label>
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="Name"
                                        value="{{ student.Name}}"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Father's Name</label>
                                        <input class="form-control" type="text" name="Fathers_Name" value="{{ student.Fathers_Name}}">
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>DOB</label>
                                        <input class="form-control" type="text" name="DOB" value="{{ student.DOB}}">
                                      </div>
                                    </div>
                                  </div>
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="form-group">
                                      <label>Address</label>
                                      <textarea class="form-control" rows="2" name="Home_Address">{{ student.Home_Address }}</textarea>
                                    </div>
                                  </div>
                                </div>
                                <hr>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Unit</label>
                                        <input
                                          class="form-control"
                                          type="text"
                                          name="Unit"
                                          value="{{ student.Unit}}"
                                        />
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Rank</label>
                                        <input
                                          class="form-control"
                                          type="text"
                                          name="Rank"
                                          value="{{ student.Rank}}"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Year of passsing B certificate</label>
                                          <input class="form-control" type="text" name="Year_of_passing_B_Certificate" value="{{ student.Year_of_passing_B_Certificate}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Fresh/Faliure</label>
                                          <input class="form-control" type="text" name="Fresh_Failure" value="{{ student.Fresh_Failure}}" >
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>School/College & Class in which studying</label>
                                        <textarea class="form-control" rows="2" name="School_College_Class">{{ student.School_College_Class }}</textarea>

                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>1st Year</label>
                                          <input class="form-control" type="text" name="Attendance_1st_year" value="{{ student.Attendance_1st_year}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>2nd Year</label>
                                          <input class="form-control" type="text" name="Attendance_2nd_year" value="{{ student.Attendance_2nd_year}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Total</label>
                                          <input class="form-control" type="text" name="Attendance_3rd_year" value="{{ student.Attendance_3rd_year}}">
                                        </div>
                                      </div>
                                    </div>
                                  <hr>
                                </div>
                              </div>

                            <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Name of Camp Attended</label>
                                          <input class="form-control" type="text" name="Name_of_camp_attended_1" value="{{ student.Name_of_camp_attended_1}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Date of Camp</label>
                                          <input class="form-control" type="text" name="Date_camp_1" value="{{student.Date_camp_1}}">
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>Location</label>
                                        <textarea
                                          class="form-control"
                                          rows="2"
                                          name="Location_camp_1" 
                                        >{{student.Location_camp_1}}</textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Name of Camp Attended</label>
                                          <input class="form-control" type="text" name="Name_of_camp_attended_2" value="{{ student.Name_of_camp_attended_2}}">
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Date of Camp</label>
                                          <input class="form-control" type="text" name="Date_camp_2" value="{{student.Date_camp_2}}">
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>Location</label>
                                        <textarea
                                          class="form-control"
                                          rows="2"
                                          name="Location_camp_2" 
                                        >{{student.Location_camp_2}}</textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                              </div>

                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">
                                  Save Changes
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-3 mb-3">
                <!-- <div class="card mb-3">
                  <div class="card-body">
                    <div class="px-xl-3">
                      <button class="btn btn-block btn-secondary">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                      </button>
                    </div>
                  </div> -->
              </div>
              <!-- <div class="card">
                  <div class="card-body">
                    <h6 class="card-title font-weight-bold">Support</h6>
                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                    <button type="button" class="btn btn-primary">Contact Us</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
