{% extends "Login_Page/login_base_template.html" %}
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    {{page_name}}
{% endblock %}

{% block script %}
{% endblock script %}

{% block start %}
<div class="form-box">
    <div class="login-container" id="login">
        {% if user.is_authenticated %}
            <form method='POST' action="/change-password/">
        {% else %}
            <form method='POST' action="/forgot-password/">
        {% endif %}
            {% csrf_token %}
            <input name="isotp" value="{{otp}}" hidden/>
            {% if messages %}
                <div class="alert alert-primary alert-dismissible" id="success-alert">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Old Password" name="old-pass">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="New Password" name="new-pass">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Confirm Password" name="new-pass-1">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Submit">
                </div>
            {% else %}
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username" name="username" value="{{username}}" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="two-forms" id="otp-section">
                    <div class="input-box">
                        {% if otp == True %}
                            <input type="text" class="input-field" placeholder="OTP" name="otp" id="otp_field">
                        {% else %}
                            <input type="text" class="input-field" placeholder="OTP" name="otp" id="otp_field" disabled>
                        {% endif %}
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <button type="submit" class="btn btn-success generate-otp-button" id="generate-otp-btn">Generate OTP</button>
                    </div>
                </div>
                {% if otp == True %}
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="New Password" name="new-pass">
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Confirm Password" name="new-pass-1">
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Submit">
                    </div>
                {% else %}
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="New Password" name="new-pass" disabled>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Confirm Password" name="new-pass-1" disabled>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Submit" disabled>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}